#%RAML 1.0
title: Circular Works
version: v1
baseUri: http://api.circular.works
/tasks:
  get:
    # TODO authentication
    responses:
      200:
        body:
          application/json:
            # Example for showing the index in the app. Maybe we should use a param for this case?
            example: |
              [
                {
                  "title": "Cleaning the space",
                  "recurrence": 2,
                  "current_turn": [
                    {
                      "id": 3,
                      "groups": [
                        {
                          "id": 4,
                          "name": "Pepe y Lola"
                        }
                      ]
                    }
                  ]
                },
                {
                  "title": "Monthly meeting",
                  "recurrence": 3
                }
              ]
  post:
    # TODO authentication
    body:
      application/json:
        example: |
          {
            "title": "Cleaning the space",
            "description": "Weekly cleaning of the space",
            "recurrence": 2,
            "turns": [
              {
                "order": 1,
                "groupIds": [ 4, 7]
              },
              {
                "order": 2,
                "groupIds": [ 10 ]
              }
            ],
            "email": "space@lists.mat.com",
            "notification_subject": "@responsible_users have to clean the space",
            "notification_body": "This is the monthly reminder for @responsible_users to clean the space"
          }
  /{taskId}:
    get:
      # TODO authentication
      responses:
        200:
          body:
            application/json:
              example: |
                {
                  "id": 7,
                  "title": "Cleaning the space",
                  "description": "Weekly cleaning of the space",
                  "recurrence": 2,
                  "email": "space@lists.mat.com",
                  "notification_subject": "@responsible_users have to clean the space",
                  "notification_body": "This is the monthly reminder for @responsible_users to clean the space",
                  "turns": [
                    {
                      "id": 7,
                      "order": 1,
                      "groups": [
                        {
                          "id": 4,
                          "name": "Pepe y Lola",
                        },
                        {
                          id: 7,
                          "name": "Lucas",
                        }
                      ]
                    },
                    {
                      "id": 3,
                      "order": 2,
                      "groups": [
                        {
                          "id": 10,
                          "name": "Facundo el de las pipas"
                        }
                      ]
                    }
                  ]
                }
    delete:
    patch:
      body:
        application/json:
          example: |
            {
              "title": "A new title for this task"
            }
/turns:
  /{turnId}:
    patch:
      body:
        application/json:
          example: |
            {
              order: 3
            }
      responses:
        200:
          body:
            application/json:
              example: |
                {
                  "id": 3,
                  "order": 3,
                  "groups" : [
                    {
                      "id": 10,
                      "name": "Facundo el de las pipas"
                    }
                  ]
                }
/groups:
  post:
    body:
      application/json:
        example: |
          {
            "name": "Pepe y Lola",
            "emails": [
              "pepe@mat.com",
              "lola.mat.com"
            ]
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "id": 3,
                "name": "Pepe y Lola"
              }
  /{groupId}:
    get:
      responses:
        200:
          body:
            application/json:
              example: |
                {
                  "id": 3,
                  "name: "Pepe y Lola"
                }
