<div class="session-login">
  {{#if errorMessage}}
    <p class="alert alert-danger">{{errorMessage}}</p>
  {{/if}}

  {{#bs-form action="authenticate" submitOnEnter=true}}
    {{bs-form-element label="Login"
                      placeholder="Username"
                      value=identification}}
    {{bs-form-element label="Password"
                      controlType="password"
                      placeholder="Description"
                      value=password}}
    {{#bs-button type="primary" action="authenticate"}}
      Login
    {{/bs-button}}
  {{/bs-form}}
</div>
