<div class="session-register">
  {{#if errorMessage}}
    <p class="alert alert-danger">{{errorMessage}}</p>
  {{/if}}

  {{#bs-form action="authenticate" submitOnEnter=true}}
    {{bs-form-element label=(t 'session.email.label')
                      controlType="email"
                      placeholder=(t 'session.email.placeholder')
                      value=identification}}
    {{#bs-button type="accent" block="true" action="authenticate"}}
      {{ t 'session.password_forgotten.button'}}
    {{/bs-button}}
  {{/bs-form}}
</div>
