<div class="session-register">
  {{#bs-alert type="info" dismissible=false}}
    <p>
      {{t 'session.register.status'}}
    </p>
    <p>
      {{t 'session.register.welcome'}}
    </p>
    <p>
      {{t 'session.register.how'}}
    </p>
  {{/bs-alert}}
</div>
