.frontpage {
  background-image: url(../images/frontpage-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  text-align: center;

  .logo {
    position: fixed;
    top: 12.75%;
    left: 0;
    right: 0;
    bottom: 65%;

    img {
      height: 100%;
    }
  }

  .description {
    position: fixed;
    top: 35%;
    left: 0;
    right: 0;
    bottom: 50%;
  }

  .actions {
    position: fixed;
    top: 69%;
    bottom: 0;
    left: 0;
    right: 0;

    a {
      margin: 10px;
    }
  }

  .description {
    color: @frontpage-color;
    font-size: 20px;
  }
}
