.session {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: @session-background-color;

  .logo {
    text-align: center;
    position: fixed;
    top: 2%;
    bottom: 79%;
    left: 0;
    right: 0;

    a, img {
      height: 100%;
    }
  }

  .session-outlet-wrapper {
    position: fixed;
    top: 28%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow-y: auto;
  }

  .session-outlet {
    max-width: 290px;
    @media (min-width: @screen-sm-min) {
      max-width: 400px;
    }
    margin: auto;
    background-color: @body-bg;
    border: 1px solid @brand-primary;
    padding: 35px 15px 15px 15px;
  }

  .session-nav-wrapper {
    position: fixed;
    top: 28%;
    left: 0;
    right: 0;
    margin-top: -20px;
    .session-nav-wrapper-inner {
      float: right;
      position: relative;
      left: -50%;
      .nav {
        position: relative;
        left: 50%;
        background-color: @body-bg;
        border: 1px solid @brand-primary;
        a {
          border-radius: 0;
        }
      }
    }
  }

  .link-password-forgotten {
    text-align: right;
    margin-bottom: 10px;
    a {
      font-weight: bold;
    }
  }
}
