.task-turns-row {
  display: inline;
  line-height: 32px;

  h3 {
    margin-top: 5px;
    font-size: 18px;
  }

  .week-in-words {
    i {
      color: @brand-primary;
      margin-right: 3px;
    }
  }

  .groups-edit {
    margin-bottom: 20px;

    // Bootstrap tooltip creates a div after the .handle element
    // that breaks inline placement
    .handle + div:not(.groups-select) {
      display: inline;
    }
  }

  .groups-select {
    display: inline-block;
    vertical-align: middle;

    .ember-power-select-trigger {
      border: 0px;
    }
    .ember-power-select-multiple-option {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .ember-power-select-status-icon {
      display: none;
    }

    .selected-group {
      .btn-link {
        color: inherit;
      }
    }
  }

  .add-group-wrapper {
    i {
      margin-right: 3px;
    }
  }

  .actions {
  }
}

.ember-power-select-dropdown {
  .task-turn-row-new-group {
    .btn-link {
      color: inherit;
      width: 100%;
      text-align: left;
      padding-left: 10px;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .ember-power-select-option {
    padding: 6px 12px;
  }
}
