.task-turns-row {
  display: inline;
  line-height: 32px;

  .handle-wrapper {
    float: left;
  }
  .groups-select {
    margin-top: 2px;
    padding-right: 5px;
  }

  .actions {
    margin-left: 5px;
  }
}
