/*
 * Custom variables for Circular works
 */

// Colors

@blue: #47afbe;
@red: #e74f3a;

@primary-color: @blue;
@accent-color: @red;

// Override bootstrap color
@brand-primary: @primary-color;

// Buttons
@btn-accent-color: white;
@btn-accent-bg: @accent-color;
@btn-accent-border: darken(@btn-accent-bg, 5%);

// App colorrs
@frontpage-color: white;

// Fonts
@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-family-sans-serif:  "Open Sans", Helvetica, Arial, sans-serif;
