<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1>
      <span class="glyphicon glyphicon-repeat">ircular.Work</span>
    </h1>
  </div>
  <div class="col-md-1"></div>
</div>
