<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1>
      {{#link-to 'index'}}
        <span class="glyphicon glyphicon-repeat">ircular.Work</span>
      {{/link-to}}
    </h1>

    {{#if session.isAuthenticated}}
      <a {{action 'invalidateSession'}}>Logout</a>
    {{else}}
      {{#link-to 'login'}}Login{{/link-to}}
    {{/if}}

    {{outlet}}
  </div>
  <div class="col-md-1"></div>
</div>
