{{navigation-bar session=session}}

<div class="container">
  <div class="home">
      <div class="row">
    {{#each model as |organization index| }}
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              {{ organization.name }}
              {{#link-to 'organizations.show' organization class="pull-right"}}
                {{ t 'home.organization.more' }}
              {{/link-to}}
            </div>

            {{ task-list tasks=organization.tasks }}

          </div>
        </div>
    {{/each}}
  </div>
  </div>
</div>
