<div class="frontpage">

  <img src="images/logo_white.svg" />

  {{#link-to 'tasks.new' class="btn btn-accent btn-lg"}}
    {{t "tasks.new.title"}}
  {{/link-to}}

  {{#link-to 'tasks.index' class="btn btn-accent btn-lg"}}
    {{t "tasks.index.title"}}
  {{/link-to}}

</div>
