<div class="frontpage">

  <div class="logo">
    <img src="images/logo_white.svg" />
  </div>

  <div class="description">
    {{ t "frontpage.description"}}
  </div>

  <div class="list-button">
    {{#link-to 'tasks.index' class="btn btn-accent btn-lg"}}
      {{t "tasks.index.title"}}
    {{/link-to}}
  </div>

  <div class="create-button">
    {{#link-to 'tasks.new' class="btn btn-accent btn-lg"}}
      {{t "tasks.new.title"}}
    {{/link-to}}
  </div>
  
</div>
