<div class="frontpage">

  <div class="logo">
    <img src="images/logo_white.svg" />
  </div>

  <div class="description">
    {{ t "frontpage.description"}}
  </div>

  <div class="actions">

    <div class="action-list">
      {{#link-to 'home' class="btn btn-accent btn-lg"}}
        {{t "frontpage.action.index"}}
      {{/link-to}}
    </div>

    <div class="action-create">
      {{#link-to 'tasks.new' class="btn btn-accent btn-lg"}}
        {{t "frontpage.action.new"}}
      {{/link-to}}
    </div>
  </div>

</div>
