<div class="session">

  <div class="logo">
    {{#link-to 'index'}}
      <img src="/images/logo_color.svg" />
    {{/link-to}}
  </div>

  <div class="session-outlet">
    {{ outlet }}
  </div>

</div>
