{{#bs-alert type="info" dismissible=false}}
  {{ t (if canEditAdmins 'admins.list.message.admins' 'admins.list.message.users') }}
{{/bs-alert}}

{{#each organization.adminEmails as |email|}}
  <div class="list-group-item">
    {{email}}
  </div>
{{/each}}

<div class="edit-admins">
  {{#if canEditAdmins}}
    {{bs-button type="primary" action=(action "edit") defaultText=(t 'admins.list.edit.button') class="pull-right"}}
  {{/if}}
</div>

{{admin-form-modal organization=organization
                   open=showFormModal}}
