{{#if showing }}
  <h1>
    {{organization.name}}

    {{#if canEdit}}
      {{#bs-button type="default" action=(action "showEdit") class="pull-right"}}
        {{ t 'tasks.notifications.edit.button' }}
      {{/bs-button}}
    {{/if}}

    <div class="clearfix"></div>
  </h1>

{{else}}

  {{organization-details-form organization=organization
                              formAction=(action 'saveEdit')
                              formCancel=(action 'cancelEdit')
                              actionLabel=(t 'organizations.form.save.button')}}
{{/if }}
