{{#if showing }}
  <h1>
    {{task.title}}
    {{#if showing}}
      {{#bs-button type="primary" action=onEdit class="pull-right"}}
        {{ t 'tasks.notifications.edit.button' }}
      {{/bs-button}}
    {{/if }}
  </h1>

  <p>{{task.description}}</p>
{{/if}}

{{#if editing }}

  {{task-details-form task=task
                      taskErrors=taskErrors
                      formAction=onSave
                      actionLabel=(t 'tasks.details.save.button')}}
{{/if }}
