<ul>
  {{#each model as |task|}}
    <li>
      {{#link-to 'tasks.show' task}}{{task.title}}{{/link-to}}
      {{#link-to 'tasks.edit' task}}
        Edit
      {{/link-to}}

    </li>
  {{else}}
    <li>
      {{#bs-alert type="warning"}}No one has created any tasks yet{{/bs-alert}}
    </li>
    {{/each}}
</ul>
